.header {
  color: black;
  -moz-text-shadow: 1px 1px 0px black;
  -webkit-text-shadow: 1px 1px 0px black;
  -o-text-shadow: 1px 1px 0px black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #333333;
  background-image: linear-gradient(top, rgb(51,51,51) 0%, rgb(102,102,102) 100%);
  background-image: -o-linear-gradient(top, rgb(51,51,51) 0%, rgb(102,102,102) 100%);
  background-image: -moz-linear-gradient(top, rgb(51,51,51) 0%, rgb(102,102,102) 100%);
  background-image: -webkit-linear-gradient(top, rgb(51,51,51) 0%, rgb(102,102,102) 100%);
  background-image: -ms-linear-gradient(top, rgb(51,51,51) 0%, rgb(102,102,102) 100%);

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(51,51,51)),
    color-stop(1, rgb(102,102,102))
  );
}
.header h1 {
  color: #CECECE;
  text-shadow: 1px 1px 0px black;
  font-size: 36px;
  font-weight: 100;
}
.header h1 span {
  font-size: 15px;
  font-weight: lighter;
}
.header h1 a {
  color: #CECECE;
}

.header ul {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

.header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

.header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}



.bottombar {
      margin-top: 1em;
      padding: 0.2em;
      border-top: 1px solid #D4D4D4;
      backgound-color: #FAFAFA;
      background-image: -moz-linear-gradient(top,#F2F2F2,white);
      background-image: -webkit-gradient(linear,0 0,0 100%,from(#F2F2F2),to(white));
      background-image: -webkit-linear-gradient(top,#F2F2F2,white);
      background-image: -o-linear-gradient(top,#F2F2F2,white);
      background-image: linear-gradient(to bottom,#F2F2F2,white);
      background-repeat: repeat-x;
  }


  body {
    background-image: url(../img/cubes.png);
    background-repeat: repeat;
  }

  .navbar .brand {
    padding-left: 2em;
  }

  .hero-unit {
    background-color: transparent;
  }

  .nav .submenu a {
    font-size: 0.8em;
    margin-left: 2em;
    padding: 0.5em;
  }

  .version {
    font-size: 0.8em;
    color: #666;
  }